.App {
text-align: center;
}

.label{
display: block;
font-size: larger;
color: white;
padding: 5px;
}

.input{
font-size: larger;
padding: 5px;
margin: 2px;

}
.btn{
color: white;
background-color: red;
border-radius: 5px;
font-size: 14px;
display: block;
padding: 5px 20px;
margin: 10px 10px 10px 90px;
}
.login{
  color: rgb(40, 158, 255);
  background-color: rgb(248, 246, 246);
  border-radius: 5px;
  font-size: 14px;
  display: block;
  padding: 5px 10px ;
  margin: 10px 5px 10px 240px;
  }

.messages{
display: flex;
justify-content: center;
}

.error{
display: block;
background-color: red;
color: white;
width: fit-content;
height: 30px;
padding: 2px 10px;
}

.success{
display: block;
background-color: lightblue;
color: black;
width: fit-content;
height: 50px;
padding: 5px;
}
.form{
  background-color: rgb(55, 141, 255);
  margin-left: 34%;
  margin-right: 34%;
  margin-top: 6%;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 90px;
  padding-right: -30px;
  box-shadow: 10px 10px 12px 5px #111010;
}
h2{
  font-size: 10px;
}
